body{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
  }
h1{
    font-size: 70px;
    color: teal;
}
div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
input{
    width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-top: 2%;
    border: solid 2px teal;
}
button{
    width: 90px;
    height: 40px;
    border: solid 2px teal;
    margin-top: 2%;
    margin: 3% auto;
}
button:hover{
    background-color: grey;
}
a{
    text-decoration: none;
    font-size: 24px;
    color: teal;
}
a:hover{
    color: royalblue;
}
.logo{
    display: grid;
    grid-template-columns: 50px 130px;
    grid-template-rows: 1fr;
    margin: 0 auto;
    margin-right: 1%;
    
  }
  img{
    width: 40px;
    height: 40px;
    padding: 25%;
    
  }
section{
    text-align: left;
    margin-top: 3%;
    margin-left: 3%;
    }
    section i{
        color: black;
    }
    section i:hover{
        color: #f1f1f1;
    }
p{
    font-size: 24px;
}
fieldset{
    border: solid 2px teal;
}
