body {
    font-family: "Lato", sans-serif;
  }
  a{
    cursor: pointer;
  }
  .container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
  }
  .imgUser{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
  i{
      font-size: 45px;
      margin-left: 40%;
      color: teal;
  }
  fieldset{
    margin-left: 16%;
    border: solid 2px teal;
    z-index: 0;
  }
  h1{
    color: teal;
  }
  img{
    width: 40px;
    height: 40px;
    padding: 25%;
  }
  .logo{
    display: grid;
    grid-template-columns: 50px 130px;
    grid-template-rows: 1fr;
    
  }
  h2{
    text-align: right;
    margin-right: 3%;
  }
  p{
    font-size: 18px;
    color: teal;
    margin: 5% 0 0 0;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border: solid 2px teal;
    background-color: white;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: teal;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }